{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    ["module-alias", [
      { "src": "./app/generic", "expose": "generic" },
      { "src": "./app", "expose": "app" }
    ]],

    ["transform-regenerator", {
      "asyncGenerators": true,
      "generators": true,
      "async": true
    }]
  ]
}
